html
	head
		title= 'Log in'
		style
			include ../public/css/style.css
	body
	div
	div
		each obj in data
			case obj.attributes["data-type"]
				when 'div'
					div(class=obj.attributes["classes"], "data-name"=obj.attributes["data-name"])
				when 'h1'
					h1(class=obj.attributes["classes"], "data-name"=obj.attributes["data-name"])= obj.text[0].text
