html
	head
		title= 'Log in'
	body
	div
	div
		each obj in data
			case obj.attributes["data-type"]
				when "h1"
					h1(class=obj.attributes["classes"], "data-name"=obj.attributes["data-name"])= obj.text[0].text
				when "h2"
					h2(class=obj.attributes["classes"], "data-name"=obj.attributes["data-name"])= obj.text[0].text
